* {
    font-family: 'spotify-circular';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
}

/* Container */

.top-container {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.nowplaying-bar-container {
    position: fixed;
    bottom: 0;
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    height: 90px;
    background-color: #282828;
}

.nav-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 220px;
    height: 100vh;
    min-height: 0 !important;
    background-color: rgba(0, 0, 0, .5);
}

.mainview-container {
    width: 100%;
    height: 2618px;
    min-height: 0 !important;
    padding-left: 220px;
    background-color: #111;
}

/* Side Navigation Bar */

.nav-bar {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px;
    padding-bottom: 95px;
}

/* Side Navigation Bar Header */

.nav-bar-header {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.logo svg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: #fff;
}

/* Side Navigation Bar Group */

.nav-bar-group {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 18px;
    padding-bottom: 8px;
    cursor: pointer;
    letter-spacing: .015em;
    color: hsla(0, 0%, 100%, .6);
}

.nav-bar-group:hover {
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: color;
    color: #fff;
}

.nav-bar-group:active {
    color: #1db954;
}

.nav-bar-group-item {
    padding-left: 36px;
}

.nav-bar-group-icon svg {
    position: absolute;
    width: 24px;
    height: 24px;
    padding-bottom: 2px;
    cursor: pointer;
    fill: hsla(0, 0%, 100%, .6);
}

.nav-bar-group:nth-child(2) {
    color: #1db954;
}

/* Side Navigation Bar Recently Played */

.nav-bar-recent {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 5px;
}

.nav-bar-recent-header {
    font-size: 11px;
    font-weight: 200;
    line-height: 16px;
    padding-top: 12px;
    letter-spacing: .015em;
    letter-spacing: .16em;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, .6);
}

.nav-bar-recent-menu {
    padding-top: 5px;
    padding-bottom: 6px;
}

.nav-bar-recent-name {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: .015em;
    text-transform: none;
    text-overflow: ellipsis;
    color: hsla(0, 0%, 100%, .6);
}

.nav-bar-recent-name:hover {
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: color;
    color: #fff;
}

.nav-bar-recent-type {
    font-size: 11px;
    font-weight: 200;
    line-height: 16px;
    display: block;
    padding-top: 1px;
    letter-spacing: .015em;
    letter-spacing: .16em;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, .6);
}

/* Side Navigation Bar Download */

.nav-bar-download {
    position: absolute;
    bottom: 154px;
    cursor: pointer;
    color: hsla(0, 0%, 100%, .6);
    fill: hsla(0, 0%, 100%, .6);
}

.nav-bar-download-icon svg {
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
}

.nav-bar-download-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-left: 36px;
    letter-spacing: .015em;
}

.nav-bar-download:hover {
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: color;
    color: #fff;
    fill: #fff;
}

/* Side Navigation Bar Info */

.nav-bar-info-edge {
    position: absolute;
    bottom: 145px;
    width: 78%;
    border-top: 1px solid #404040;
}

.nav-bar-info {
    position: absolute;
    bottom: 108px;
    cursor: pointer;
}

.nav-bar-info-avatar {
    position: relative;
    top: 26px;
    left: 4px;
}

.nav-bar-info-avatar-pic {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-image: url(https://i.scdn.co/image/bdaeccb035a8af87b7a70b62217ff5c633ba6c7c);
    background-size: cover;
}

.nav-bar-info-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 42px;
    letter-spacing: .015em;
    color: #fff;
}

/* Mainview */

.mainview-background-color {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(65, 68, 88), rgb(6, 7, 9) 85%);
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
}

.contentspacing {
    font-size: 14px;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 2em;
}

.mainview-nav {
    width: 100%;
    padding: 20px 0;
}

.mainview-nav-menu {
    text-align: center;
}

.mainview-nav-group {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    display: inline-block;
    margin: .8em;
    padding: .8em .68em 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: color;
    letter-spacing: .16em;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, .6);
    border: 0;
}

.mainview-nav-group:hover {
    color: #fff;
}

.mainview-nav-menu li:nth-child(1) {
    color: #fff;
}

.mainview-nav-menu li:nth-child(1):after {
    position: relative;
    top: 4px;
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    content: '';
    background-color: #1db954;
}

/* Mainview Fluid */

.mainview-fluid-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.container-fluid {
    margin-right: -8px;
    margin-left: -8px;
}

.container-fluid-noSpaceAround {
    padding: 0;
}

.mainview-fluid-coloum {
    position: relative;
    float: left;
    width: calc(100%/6);
    min-height: 1px;
    padding: 0 8px;
}

.mainview-fluid-coloum:hover .mainview-fluid-cover {
    transition-timing-function: cubic-bezier(.3, 0, 0, 1);
    transition-duration: .2s;
    transition-property: filter;
    filter: brightness(.3);
}

.mainview-fluid-cover {
    width: 100%;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.mainview-fluid-cover-icon-container {
    position: relative;
}

.mainview-fluid-cover-icon {
    position: absolute;
    top: 35%;
    right: 35%;
    bottom: 35%;
    left: 35%;
    display: none;
    background-color: #1db954;
    fill: #fff;
}

.mainview-fluid-cover-icon svg {
    width: 100%;
    height: 100%;
}

.mainview-fluid-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    width: 100%;
    max-height: 560px;
    margin: 12px 0 4px;
    padding-bottom: 2.5em;
    cursor: pointer;
    text-align: center;
    letter-spacing: .015em;
    text-transform: none;
    text-overflow: ellipsis;
    color: #fff;
    -webkit-line-clamp: 2;
}

.mainview-viewmore {
    padding-bottom: 25px;
}

.h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    position: relative;
    margin: 24px 0;
    text-align: center;
    letter-spacing: -.005em;
    text-transform: none;
    color: #fff;
}

/* Nowplaying Bar */

.nowplaying-bar {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 90px;
    padding: 0 16px;
}

.nowplaying-bar-left {
    width: 30%;
    min-width: 180px;
}

.nowplaying-bar-center {
    width: 40%;
    max-width: 722px;
}

.nowplaying-bar-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 30%;
    min-width: 180px;
}

/* Nowplaying Bar Left */

.nowplaying {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.nowplaying-cover-art {
    position: relative;
    display: block;
    flex-shrink: 0;
    margin: 0;
    margin-right: 14px !important;
    border: 0;
    outline: 0;
    background-color: #282828;
}

.nowplaying-cover-art-shadow {
    width: 56px;
    height: 56px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.nowplaying-cover-art-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition-timing-function: cubic-bezier(.3, 0, .4, 1);
    transition-duration: .3s;
    transition-property: opacity;
    background-position: 50%;
    background-size: cover !important;
}

.nowplaying-cover-info {
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nowplaying-cover-info-name {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    cursor: pointer;
    letter-spacing: .015em;
    color: #fff;
    border: none;
}

.nowplaying-cover-info-name:hover {
    margin-bottom: -1px;
    border-bottom: 1px solid white;
}

.nowplaying-cover-info-artist {
    font-size: 11px;
    font-weight: 200;
    line-height: 16px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: color;
    letter-spacing: .015em;
    color: hsla(0, 0%, 100%, .6);
}

.nowplaying-cover-info-artist:hover {
    transition-timing-function: linear;
    transition-duration: .2s;
    transition-property: color;
    color: #fff;
}

/* Nowplaying Bar Center */

.nowplaying-bar-control {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}

.nowplaying-bar-control-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 224px;
    margin-bottom: 12px;
}

.control-button {
    position: relative;
    width: 32px;
    min-width: 32px;
    height: 32px;
    color: hsla(0, 0%, 100%, .6);
    border: none;
    background-color: transparent;
}

.spoticon-shuffle-16:before {
    font-family: glue1-spoticon;
    font-size: 16px;
    content: '\F144';
}

.spoticon-skipback-16:before {
    font-family: glue1-spoticon;
    font-size: 16px;
    content: '\F146';
}

.spoticon-pause-16:before {
    font-size: 16px;
    content: '\F130';
}

.control-button--circle:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border: 1px solid hsla(0, 0%, 100%, .6);
    border-radius: 500px;
}

.spoticon-skipforward-16:before {
    font-size: 16px;
    content: '\F148';
}

.spoticon-repeat-16:before {
    font-size: 16px;
    content: '\F13E';
}

[class*=' spoticon-']:before,
[class^=spoticon-]:before {
    font-family: glue1-spoticon;
    font-weight: 400;
    font-style: normal;
    line-height: inherit;
    display: inline-block;
    vertical-align: bottom;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.control-button--active {
    color: #1db954;
}

.control-button--active-dot:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 4px;
    height: 4px;
    content: '';
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #1db954;
}

.nowplaying-bar-playback-bar {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.nowplaying-bar-playback-bar--progress-time {
    font-size: 11px;
    line-height: 16px;
    min-width: 40px;
    text-align: center;
    letter-spacing: .015em;
    color: hsla(0, 0%, 100%, .6);
}

.nowplaying-bar-playback-bar--progress-bar {
    position: relative;
    width: 100%;
    height: 12px;
}

.progress-bar-middle-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.progress-bar-bg {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404040;
}

.progress-bar-fg {
    width: 0;
    height: 4px;
    transition-timing-function: cubic-bezier(1, 0, .7, 1);
    transition-duration: .1s;
    transition-property: background-color;
    border-radius: 2px;
    background-color: #b3b3b3;
}

.progress-bar-slider {
    z-index: 100;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -6px;
    transition-timing-function: cubic-bezier(1, 0, .7, 1);
    transition-duration: .1s;
    transition-property: transform;
    transform: scale(0);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

/* 1366×645 */

@media only screen and (max-height: 645px) {
    .nav-bar-recent-menu-size li:nth-last-child(-n+2) {
        display: none;
    }
}