* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-style: normal;
}

.navibar {
    text-align: center;
    width: 100%;
    background: #323232;
    justify-content: space-between;
}

.navibar li {
    display: inline;
}

.navibar li a {
    color: #FAFAFA;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    text-decoration: none;
    padding: 40px;
}

.navibar li a:hover {
    color: #B7B7B7;
    text-decoration: none;
}

